# Development
.editorconfig
.eslintignore
.eslintrc
browser-test.html
tsconfig.json
jest.config.js
src
.github
examples

# Useless tsc files
dist/tsc/browser.*
dist/tsc/cli.*

# Dependencies
node_modules
